h1{
    font-family: $raleway;
    font-size: $xx-large;
    font-weight: $letra_700;
}

h2{
    font-family: $opensans;
    font-size: $x-large;
    font-size: $letra_700;
    color: $blanco;
}

h3{
    font-family: $opensans;
    font-size: $large;
}

p{
      font-family: $raleway;
}

a{
    font-family: $opensans;
    text-decoration: none;
    color: $negro;
}