//Colores

$azul: #00638B;
$azul1: #338BAE;
$azul2: #6FB6D2;
$azul3: #A6DAEF;

$rojo: #C30017;
$rojo1: #E03E51;
$rojo2: #F87B8A;
$rojo3: #FFA3AD;

$amarillo: #FFA626;
$amarillo1: #FBB34C;
$amarillo2: #FCC06B;
$amarillo3: #FFD79E;

$blanco: #fff;
$negro: #000;
$negro1: #1D1D1D;


$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

$letra_700: 700;
$letra_600: 600;
$letra_500: 500;
$letra_400: 400;

$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 12px;
$small: 10px;

$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-ml: 992px;
$viewport-large: 1025px;
$viewport-xlarge: 1200px;



